extends ../node_modules/jade-bootstrap/layouts/carousel

doctype html
html
  head
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    title= title
  body
    p hi there!
    button(onclick="move()") newPage
script.
  function move() {
    window.location.href = '/newpage'
  }
